#go_to_top {
  background-color: #cd7e68 !important;
}

footer .icons a {
  color: #cd7e68 !important;
}

footer .icons a:hover img {
  filter: invert(60%) sepia(29%) saturate(2808%) hue-rotate(325deg) brightness(108%) contrast(61%) !important;
}

footer .overlay .vice_nav .vice_nav_list .list li a:hover {
  color: #cd7e68 !important;
}

.page_link .page_go_to {
  background-color: #cd7e68;
}

.page_link .page_go_to:hover {
  background-color: #c05d42;
}

.card:hover .card-title {
  color: #cd7e68 !important;
}

.card:hover .more a, .card:hover .more i {
  color: #cd7e68 !important;
}

.card .card-title {
  font-size: 1.2rem;
}

.card .card-body .date {
  color: #cd7e68 !important;
}

.card .card-body nav ol li:nth-last-child(1) {
  color: #cd7e68 !important;
}

.card .card-body nav ol li i {
  color: #cd7e68 !important;
}

.bg_parallax .parallax__container::after {
  background-color: #cd7e68 !important;
}

.look_more a {
  background-color: #da9f8e !important;
}

.look_more a:hover {
  background-color: #cd7e68 !important;
}

.card_info span {
  color: #cd7e68;
}

.card_info nav ol li:nth-last-child(1) {
  color: #cd7e68;
}

.card_info nav ol li i {
  color: #cd7e68;
}
