doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title CONTACT
		//- 匯入css
		include head.pug
	body#top
		//- 匯入go_to_top
		include go_to_top.pug
		//- 匯入navbar
		include navbar_en.pug
		// intro_top_cover
		section
			.jumbotron.intro_top_cover.mb-0(style="background-image: url(../assets/img/contact.png);" data-aos="fade-up" data-aos-duration="1200" data-aos-once="true")
				.container
					.text
						h1 CONTACT
		// contact
		section
			.container.d-flex.flex-wrap.my-5
				.col-12.col-md-5
					h2.mb-5 We will contact you soon.
					p
						i.fas.fa-map-marker-alt.fa-fw.mr-2
						| 新北市泰山區 新北大道六段79巷57弄8之2號
					p
						i.fas.fa-phone-alt.fa-fw.mr-2
						a(href="tel:02-7741-5519") 02-7741-5519
					.social_icon.d-flex.align-items-center.my-5
						a(href="https://www.facebook.com/step30.org/" target="_blank")
							i.fab.fa-facebook.fa-fw.mr-4
						a(href="https://www.instagram.com/step30ministries/" target="_blank")
							i.fab.fa-instagram.fa-fw.mr-4
						a(href="https://www.youtube.com/channel/UCf8xJ5H1hfvfXK6ywoXKc-w" target="_blank")
							i.fab.fa-youtube.fa-fw.mr-4
						a(href="https://line.me/R/ti/p/%40fhk8334z" target="_blank")
							i.fab.fa-line.fa-fw.mr-4
				.col-12.col-md-7
					.form
						.form-group
							label.required(for="name") Name
							input#name.form-control(type="text" placeholder="Name")
						.form-group
							label.required(for="phone") Phone Number
							input#phone.form-control(type="tel" placeholder="Phone Number")
						.form-group
							label.required(for="email") E-mail
							input#email.form-control(type="email" placeholder="E-mail")
						.form-group
							label.required(for="title") Title
							input#title.form-control(type="email" placeholder="Title")
						.form-group
							label.required(for="content") Content
							textarea#content.form-control(rows="10" placeholder="Content")
						.form-group
							.input-group
								input.form-control(type="text" placeholder="Check Pin" style="max-width: 250px")
								.input-group-append
									img.img-fluid(src="../assets/img/validation.png", alt="")
						.d-flex.justify-content-center.align-items-center.mt-5
							a.btn.text-white.px-4(style="background-color:#0e8b8f" href="") Submit
		
		
		//- 匯入footer
		include footer_en.pug
		//- 匯入script
		include script.pug
		
