// footer
footer
    .container
        .row.justify-content-center.align-items-center
            .text.text-center.my-5
                h3 邀請您一起同行
                p.my-3
                    | 在這裡，您可以用自己的名義發起一場募集活動，
                    br
                    | 並以社群串聯將此活動分享到您的朋友圈，
                    br
                    | 而您活動募得的每一分金錢，將會用於援助赤貧地區人民。
        .row.my-5
            .icons
                a(href="#" data-toggle="modal" data-target="#donate_now_content")
                    img.white(src="../assets/img/icon_01.png" alt="")
                    img.black(src="../assets/img/icon_01_black.png" alt="")
                    h4 立即捐款
                a(href="fundraising.html")
                    img.white(src="../assets/img/icon_03.png" alt="")
                    img.black(src="../assets/img/icon_03_black.png" alt="")
                    h4 參與募資
                a(href="joinus.html")
                    img.white(src="../assets/img/icon_04.png" alt="")
                    img.black(src="../assets/img/icon_04_black.png" alt="")
                    h4 成為志工
    .overlay.mt-5
        .container
            .vice_nav
                .vice_nav_list.intro
                    .top
                        img.img-fluid(src="../assets/img/logo-1.png" alt="")
                    .bottom
                        p
                            | 舊鞋救命未來的路上想必會更加精彩，也準備迎向更多挑戰，我們需要您持續的禱告與支持，無論眼前所見，讓我們一起秉持信念，堅持為非洲孩子們撒下改變的種子，實踐上帝愛人如己的使命。
                        .info
                            p 
                                i.far.fa-calendar-alt.fa-fw
                            p 親送時段：星期一〜星期六 10：00~18：00（週日休息）
                            p 
                                i.far.fa-calendar-alt.fa-fw
                            p 寄送時段：星期一〜星期六 10：00~18：00（週日休息）
                            p
                                i.fas.fa-map-marker-alt.fa-fw
                            p 伯利恆倉庫：新北市泰山區 新北大道六段79巷57弄8之2號
                            p
                                i.fas.fa-phone-alt.fa-fw
                            p
                               a.text-white(href="tel:02-7741-5519") 02-7741-5519
                .vice_nav_list
                    .top
                        h4 志工心事
                    .bottom
                        ul.list
                            li
                                a(href="side_project.html") 看見需要而行動，就是回應上帝的呼召看見需要而行動，就是回應上帝的呼召
                            li
                                a(href="side_project.html") 我是非洲人，肯亞的日子，簡單的快樂
                            li
                                a(href="side_project.html") BOSCO
                            li
                                a(href="side_project.html") 看見需要而行動，就是回應上帝的呼召
                            li
                                a(href="side_project.html") 我是非洲人，肯亞的日子，簡單的快樂
                            li
                                a(href="side_project.html") BOSCO
                .vice_nav_list
                    .top
                        h4 分項計畫
                    .bottom
                        ul.list
                            li
                                a(href="card_info.html") 舊鞋救命
                            li
                                a(href="card_info.html") 興學計畫
                            li
                                a(href="card_info.html") 活水計畫
                            li
                                a(href="card_info.html") 養雞農耕
                            li
                                a(href="card_info.html") 國際志工
                            li
                                a(href="#" target="_blank") Move 宣教
                .vice_nav_list
                    .top
                        h4 聯絡與問題
                    .bottom
                        ul.list
                            li
                                a(href="contact.html")
                                    i.far.fa-comment-dots.fa-fw.mr-2
                                    | 聯絡我們
                            li
                                a(href="qa.html")
                                    i.far.fa-question-circle.fa-fw.mr-2
                                    | 常見問題
                            li
                                a(href="terms.html")
                                    i.fas.fa-list-ul.fa-fw.mr-2
                                    | 會員服務條款
                            li
                                a(href="privacy.html")
                                    i.fas.fa-shield-alt.fa-fw.mr-2
                                    | 隱私權政策
    .copyrights.container-fluid.py-3
        .left
            p.mb-1 Copyright © 2020 
                a(style="color:#0e8b8f;") Step30.Org 
                |All Rights Reserved
            p.mb-1 社團法人舊鞋救命國際基督關懷協會
        .right
            p.mb-1 立案字號：台內團字第 1040063141號
            p.mb-1 勸募活動許可文號：衛部救字第1081370480號

    .bg(style="background-image: url(../assets/img/footer.png);")