doctype html
html(lang="zh-tw")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title 資金運用規則
		//- 匯入css
		include head.pug
	body#top
		//- 匯入go_to_top
		include go_to_top.pug
		//- 匯入立即捐款
		include donate_now.pug
		//- timeline
		link(rel="stylesheet", href="../assets/css/timeline.css")
		//- 匯入navbar
		include navbar.pug

		// intro_top_cover
		section
			.jumbotron.intro_top_cover.mb-0(style="background-image: url(../assets/img/donate_top_cover.jpg);" data-aos="fade-up" data-aos-duration="1200" data-aos-once="true")
				.container
					.text
						h1 資金運用規則
		section
			.container.my-5
				.text-center
					h6 每一筆回饋與贊助，都成就了《舊鞋救命》各項專案計畫的守護天使，讓愛得以轉動，讓笑顏得以綻放。
		// chart
		section
			.container.my-5
				.row
					.col-12.col-md-6.p-3
						h6.text-center.mb-4 舊鞋救命
						canvas#canvas1.canvas
					.col-12.col-md-6.p-3
						h6.text-center.mb-4 興學計畫
						canvas#canvas2.canvas
					.col-12.col-md-6.p-3
						h6.text-center.mb-4 活水計畫
						canvas#canvas3.canvas
					.col-12.col-md-6.p-3
						h6.text-center.mb-4 養雞農耕
						canvas#canvas4.canvas
					.col-12.col-md-6.p-3
						h6.text-center.mb-4 MOVE宣教
						canvas#canvas5.canvas

	//- 匯入footer
	include footer.pug
	//- 匯入手機底部導覽列
	include phone_bottom_navbar.pug
	//- 匯入script
	include script.pug