// navbar
nav.navbar.navbar-expand-lg.fixed-top.p-0
    .container
        a.navbar-brand.m-0(href="index_en.html")
            img.img-fluid(src="../assets/img/logo-1.png" alt="")
        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
            i.fas.fa-bars
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.ml-auto
                li.nav-item.dropdown
                    a#navbarDropdown.nav-link.dropdown-toggle(href="javascript:viod(0);" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                        | PROJECTS
                    .dropdown-menu.animate__animated.animate__fadeInDown.animate__faster
                        a.dropdown-item(href="side_project_en.html") Jiggers treatment
                        a.dropdown-item(href="side_project_en.html") Education
                        a.dropdown-item(href="side_project_en.html") Living water
                        a.dropdown-item(href="side_project_en.html") Kuku farming
                        a.dropdown-item(href="side_project_en.html") International volunteer
                        a.dropdown-item(href="side_project_en.html") Move
                li.nav-item
                    a.nav-link(href="contact_en.html")
                        | CONTACT
                li.nav_icon
                    ul
                        li.nav-item
                            a.nav-link(href="index.html" title="chinese")
                                span 中文
                        li |
                        li.nav-item
                            a.nav-link(href="https://www.facebook.com/step30.org/" title="facebook" target="_blank")
                                i.fab.fa-facebook-square.fa-fw
                        li |
                        li.nav-item(title="line")
                            a.nav-link(href="https://line.me/R/ti/p/%40fhk8334z" title="line" target="_blank")
                                i.fab.fa-line.fa-fw