// 手機底部導覽列
.phone_botttom_navbar.d-lg-none
    a(href="index.html")
        i.fas.fa-home.fa-fw.mb-1
        h6 回首頁
    a(href="fundraising.html")
        i.fas.fa-archive.fa-fw.mb-1
        h6 參與募資
    a(href="shopping_cart1.html")
        i.fas.fa-donate.fa-fw.mb-1
        h6 立即結帳
    a(href="login.html")
        i.fas.fa-user.fa-fw.mb-1
        h6 會員登入