// jquery
script(src="../assets/js/jquery-3.5.1.min.js")
// bootstrap
script(src="../assets/js/bootstrap.bundle.min.js")
// aos
script(src="../assets/js/aos.js")
// universal-parallax
script(src="../assets/js/universal-parallax.js")
// easy-pie-chart
script(src="../assets/js/jquery.easypiechart.js")
// fslightbox
script(src="../assets/js/fslightbox.js")
// slick
script(src="../assets/js/slick.js")
// chart
script(src="../assets/js/Chart.min.js")
script(src="../assets/js/chartjs-plugin-labels.js")
// main
script(src="../assets/js/main.js")