doctype html
html(lang="zh-tw")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title 購物車：2填寫捐款人資料
		//- 匯入css
		include head.pug
	body#top
		//- 匯入go_to_top
		include go_to_top.pug
		//- 匯入navbar
		include navbar.pug
		// intro_top_cover
		section
			.jumbotron.intro_top_cover.mb-0(style="background-image: url(../assets/img/card_info_top_cover.png);" data-aos="fade-up" data-aos-duration="1200" data-aos-once="true")
				.container
					.text
						h1 購物車
		// progress_bar
		section
			.container
				.progress_bar.my-5
					ul
						li
							.wrap
							h5 1 捐款明細
						li.active
							.wrap
							h5 2 填寫捐款人資料
						li
							.wrap
							h5 3 選擇/確認捐款方式
						li
							.wrap
							h5 4 交易完成
		// form
		section
			.container
				form
					.write_info
						// 個資
						label.form_title
							i.fas.fa-heart
							| 個人資料告知聲明
						.form-group
							.scroll_box
								h5 會員資格審核
								ol
									li 本會員服務條款所稱之「會員」，為依照「舊鞋救命Step30」（下稱本站）所定之加入會員程序加入完成並通過認證者。
									li 當您使用本站會員服務時，即表示您同意並願遵守本會員服務條款的規定事項及相關法律之規定。
									li 本協會保留有審核加入會員資格之權利；已加入會員者，本協會亦保留有解除其會員資格之權利。
									li 本會員服務條款修訂，適用所有會員。當本協會修訂會員服務條款時，將於本站上公告；如您已加入本站會員，於本協會修改本會員服務條款後仍具續使用本站，視為您已經同意修改後之會員服務條款。
									li 如您是未滿二十歲之未成年人：您必須在加入會員前，將本服務條款及其後之修改變更請您的父母或監護人閱讀，並得到其同意，才可以註冊及繼續使用本服務。當您使用本服務時，則視為您的父母或監護人已經閱讀、了解並同意本服務條款之內容及其後之修改變更。
									li 本站使用者條款亦為會員服務條款的一部，您必須一併遵守。
								h5 隱私權保護
								ol
									li 本站尊重您的隱私權，並將依本站隱私權政策保護您的隱私，請參閱隱私權政策。
								h5 會員帳號之註冊
								ol
									li 您於加入本站會員時所登錄之會員資料，必須是您本人正確、最新及完整的資料。
									li 您的會員登錄資料不得有偽造、不實等之情事（如使用他人個人資料等），一經發現本協會可拒絕您加入本站會員，並得以暫停或終止您的會員資格；若您違反相關法律，亦將依法追究
									li 會員資料(如姓名、地址等)有變更時，您應於資料變更之十日內，更新相關資料，以確保其正確及完整性；若您提供的資料有錯誤或不符等現象，本協會有權暫停或終止您的帳號，並拒絕您繼續使用本服務。
									li 未經您本人同意，本協會原則上不會將涉及個人隱私之資料開示給第三者，唯資料共用原則等不在此限（請參閱本站隱私權政策相關規定）。
									li 您應妥善保管密碼，不可將密碼洩露或提供給他人知道或使用；使用他人會員帳號或密碼使用本站服務所進行的所有行為，都將被認為是該帳號和密碼所有人的行為。
									li 您如果發現或懷疑有第三人使用您的會員帳號或密碼，應該立即通知本協會，並採取必要的防範措施。但上述通知不得解釋為本協會對您負有任何形式之賠償或補償之責任或義務。
							.form-check.form-check-inline
								input#form_check.form-check-input(type="checkbox")
								label.form-check-label(for="form_check") 您已了解並同意本會蒐集、處理及使用您的個人資料。
						// 基本資料
						label.form_title
							i.fas.fa-heart
							| 基本資料
						// 匿名捐款、具名捐款
						.form-group
							.form-check.form-check-inline
								input#named_donate.form-check-input(type="radio" name="named_or_anonymous_donate" value="named_donate")
								label.form-check-label(for="named_donate") 具名捐款
							.form-check.form-check-inline
								input#anonymous_donate.form-check-input(type="radio" name="named_or_anonymous_donate" value="anonymous_donate")
								label.form-check-label(for="anonymous_donate") 不公佈姓名捐款
						.grid
							.form-group
								label.required(for="name") 姓名/機關名稱
								input#name.form-control(type="text" placeholder="姓名/機關名稱")
							.form-group
								label.required(for="gender") 性別
								.gender.d-flex.flex-wrap.mt-2
									.form-check.mr-3
										input#male.form-check-input(type="radio" name="gender" value="male")
										label.form-check-label(for="male") 男性
									.form-check
										input#female.form-check-input(type="radio" name="gender" value="female")
										label.form-check-label(for="female") 女性
							.form-group
								label.required(for="ID") 身分證字號/統編
								input#ID.form-control(type="number" placeholder="身分證字號/統編")
							.form-group
								label.required(for="phone_number") 聯絡手機
								input#phone_number.form-control(type="tel" placeholder="聯絡手機")
						.form-group
							label.required(for="email") E-mail
							input#email.form-control(type="email" placeholder="E-mail")
						.form-group.m-0
							label.required(for="address") 通訊地址
							
						.address
							.form-check.form-check-inline.domestic
								input#domestic_address.form-check-input(type="radio" name="address" value="domestic")
								label.form-check-label(for="domestic_address") 國內地址
							
							label.sr-only(for="address_district_number") 
							input#address_district_number.form-control(type="number" placeholder="郵遞區號")

							select.form-control.city
								option(value="#" disabled selected) 請選擇縣市
								option(value="#") 台北市
								option(value="#") 新北市
								option(value="#") 桃園市
								option(value="#") 我都行
							select.form-control.district
								option(value="#" disabled selected) 鄉鎮市區
								option(value="#") 中山區
								option(value="#") 中正區
								option(value="#") 信義區
							label.sr-only(for="domestic_address_detail") 國內地址
							input#domestic_address_detail.form-control(type="text" placeholder="地址")

							.form-check.form-check-inline.abroad
								input#abroad_address.form-check-input(type="radio" name="address" value="abroad")
								label.form-check-label(for="abroad_address") 國外地址
							label.sr-only(for="abroad_address_detail") 國外地址
							input#abroad_address_detail.form-control(type="text" placeholder="地址")
						// 收據資料
						label.form_title
							i.fas.fa-heart
							| 收據資料
						.form-check.form-check-inline.d-block.mb-2
							input#sent_to_national_taxation_bureau_same_info.form-check-input(type="checkbox")
							label.form-check-label(for="sent_to_national_taxation_bureau_same_info") 同捐款人基本資料
						.grid
							.form-group
								label(for="receipt") 收據(徵信)抬頭
								input#receipt.form-control(type="text" placeholder="收據(徵信)抬頭")
							.form-group
								label(for="ID_card") 身分證字號/統編
								input#ID_card.form-control(type="text" placeholder="身分證字號/統編")
						.form-check.form-check-inline.mb-2
							input#sent_to_national_taxation_bureau.form-check-input(type="checkbox")
							label.form-check-label(for="sent_to_national_taxation_bureau") 上傳國稅局(請提供納稅義務人身份證/統編)
						.form-group.mt-2.receipt_type
							.receipt_grid
								.form-check.mt-2
									input#paper_receipt.form-check-input(type="radio" name="receipt" value="need" checked)
									label.form-check-label(for="paper_receipt") 紙本收據
								select.form-control(data-size="5" data-width="150px" title="請選擇" data-mobile="true" style="max-width: 300px")
									option(value="#" ) 單筆收據
									option(value="#") 年度收據
								.choose_address
									label.form-check-label 收據郵遞地址
									.form-check.mt-2
										input#same_address.form-check-input(type="radio" name="receipt_address" value="same" checked)
										label.form-check-label(for="same_address") 同通訊地址
									.form-check.mt-2
										input#other_address.form-check-input(type="radio" name="receipt_address" value="other")
										label.form-check-label(for="other_address") 其他
										.select_address.collapse
											.select_address_domestic_grid
												.form-check.mt-2
													input#select_address_domestic.form-check-input(type="radio" name="receipt_address_detail" value="domestic")
													label.form-check-label(for="select_address_domestic") 國內地址
												label.sr-only(for="receipt_select_address_district_number") 
												input#receipt_select_address_district_number.form-control(type="number" placeholder="郵遞區號")
												select.form-control(data-size="5" data-width="fit" data-mobile="true")
													option(value="#" disabled selected) 請選擇縣市
													option(value="#") 台北市
													option(value="#") 新北市
													option(value="#") 桃園市
													option(value="#") 我都行
												select.form-control(data-size="5" data-width="fit" data-mobile="true")
													option(value="#" disabled selected) 鄉鎮市區
													option(value="#") 中山區
													option(value="#") 中正區
													option(value="#") 信義區
												label.sr-only(for="receipt_select_address_domestic") 國內地址
												input#receipt_select_address_domestic.form-control(type="text" placeholder="地址")
											.select_address_abroad_grid
												.form-check.mt-2
													input#select_address_abroad.form-check-input(type="radio" name="receipt_address_detail" value="foreign")
													label.form-check-label(for="select_address_abroad") 國外地址
												label.sr-only(for="receipt_select_address_abroad") 海外地址
												input#receipt_select_address_abroad.form-control(type="text" placeholder="地址")
							.form-check.mt-2
								input#no_receipt.form-check-input(type="radio" name="receipt" value="no")
								label.form-check-label(for="no_receipt") 不需收據
						// 定期定額捐款方式
						label.form_title
							i.fas.fa-heart
							| 定期定額捐款方式
						.d-flex.flex-wrap
							.d-flex.flex-wrap.align-items-center.mb-3
								select.form-control.d-inline(style="width: auto;")
									option(value="#" disabled selected) 年份
									option(value="#") 2021
									option(value="#") 2022
									option(value="#") 2023
								span.mx-2 年
								select.form-control.d-inline(style="width: auto;")
									option(value="#" disabled selected) 月份
									option(value="#") 1
									option(value="#") 2
									option(value="#") 3
							.d-flex.flex-wrap.align-items-center.mb-3
								span.mx-2 月起至
							.d-flex.flex-wrap.align-items-center.mb-3
								select.form-control.d-inline(style="width: auto;")
									option(value="#" disabled selected) 年份
									option(value="#") 2021
									option(value="#") 2022
									option(value="#") 2023
								span.mx-2 年
								select.form-control.d-inline(style="width: auto;")
									option(value="#" disabled selected) 月份
									option(value="#") 1
									option(value="#") 2
									option(value="#") 3
								span.mx-2 月
						// 信用卡資料
						label.form_title
							i.fas.fa-heart
							| 定期定額捐款方式
						.form-group
							label 信用卡類型
							select.form-control(style="max-width: 200px;")
								option(value="#" disabled selected) 信用卡類型
								option(value="#") VISA
								option(value="#") Master
								option(value="#") JCB
								option(value="#") 連銀
						.form-group.m-0
							label 信用卡卡號
							.grid_card_number
								.d-flex.align-items-center.mb-3
									input.form-control(type="number")
									span.mx-2 -
								.d-flex.align-items-center.mb-3
									input.form-control(type="number")
									span.mx-2  -
								.d-flex.align-items-center.mb-3
									input.form-control(type="number")
									span.mx-2  -
								.d-flex.align-items-center.mb-3
									input.form-control(type="number")
						.form-group.m-0
							label 信用卡有效期限
							.d-flex.flex-wrap
								.d-flex.flex-wrap.align-items-center.mb-3
									select.form-control.d-inline(style="width: auto;")
										option(value="#" disabled selected) 年份
										option(value="#") 2021
										option(value="#") 2022
										option(value="#") 2023
									span.mx-2 年
									select.form-control.d-inline(style="width: auto;")
										option(value="#" disabled selected) 月份
										option(value="#") 1
										option(value="#") 2
										option(value="#") 3
									span.mx-2 月
						.form-group
							label 信用卡背後三碼
							input.form-control(type="CVC" placeholder="CVC" style="max-width: 200px;")
						.form-group
							label 備註
							textarea.form-control(rows="6" style="max-width: 800px;")
						
				.page_link.d-flex.flex-wrap.justify-content-center.align-items-center
					a.btn.btn-md.btn-secondary.m-1.text-white(href="shopping_cart1.html")
						i.fas.fa-angle-double-left.fa-fw.mr-1
						| 上一步
					a.btn.btn-md.page_go_to.m-1.text-white(href="shopping_cart3.html") 
						| 下一步
						i.fas.fa-angle-double-right.fa-fw.ml-1
		//- 匯入footer
		include footer.pug
		//- 匯入script
		include script.pug
		
