// 手機版分享
.social_share_phone.mb-5.d-flex.flex-row.justify-content-end.d-lg-none
    a.social_media.social_media_fb(href="")
        span.d-flex.align-items-center
            i.fab.fa-facebook.fa-fw
    a.social_media.social_media_line(href="")
        span.d-flex.align-items-center
            i.fab.fa-line.fa-fw
    a.social_media.social_media_twitter(href="")
        span.d-flex.align-items-center
            i.fab.fa-twitter.fa-fw
    a.social_media.social_media_weibo(href="")
        span.d-flex.align-items-center
            i.fab.fa-weibo.fa-fw